<h1>Editing Trn Prod Plan Header</h1>

<%= render 'form', trn_prod_plan_header: @trn_prod_plan_header %>

<%= link_to 'Show', @trn_prod_plan_header %> |
<%= link_to 'Back', trn_prod_plan_headers_path %>
