<div class="container-fluid">
<h5>Production Schedule</h5>
  <%= render 'form', trn_prod_plan_header: @prod_plan_header, prod_plan_headers_list: @prod_plan_headers_list, prod_plan_masters_list: @prod_plan_masters_list, trt_mst:@trt_mst %>
</div>
