<h1>Editing Trn Prod Plan Master</h1>

<%= render 'form', trn_prod_plan_master: @trn_prod_plan_master %>

<%= link_to 'Show', @trn_prod_plan_master %> |
<%= link_to 'Back', trn_prod_plan_masters_path %>
